.container	{
	width: 100%;
	height: 300px;
	border: solid 1px #e8e8e8;
}

.box {
	width: 30px;
	height: 30px;
	background-color: #3F62CB;
	position: absolute;
	top: 10px;
	left: 100px;

}

.box2{
	position: absolute;
	top: 100px;
	height: 50px;
	width: 50px;
	background-color: #4CCB16;
	left: 100px;
	transition-delay: 1.3s;
}

.box3 {
	position: absolute;
	top: 210px;
	left: 120px;
	background-color: #CB614A;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	transition-delay: 1s;
}

.without-delay {
	transition-delay: 0s !important;
}

.move-right {
	transform: translateX(200px);
	transition-duration: .4s;
}

.move-left {
	transform: translateZ(200px);
	transition-duration: .4s;
}